<productdashboardcard>
  <productdetails>
    
  </productdetails>
  <productfilters>
    <filter></filter>
    <filter></filter>
    <filter></filter>
    <filter></filter>
  </productfilters>
  <productnavigation>
    <a ng-href="/overview">Overview</a>
    <a ng-href="/sales">Sales</a>
  </productnavigation>
</productdashboardcard>

<stacklinegraphcard>
  <stacklinegraph>
  </stacklinegraph>
</stacklinegraphcard>

<stacklinetablecard>
  <stacklinetable>
  </stacklinetable>
</stacklinetablecard>
